<h1 style="text-align:center;">Session history</h1>
<table class="table table-hover">
  <thead>
    <tr>
        <th>IP address</th>
        <th>User agent</th>
        <th>Signed in</th>
        <th>Last seen</th>
        <th>Signed out</th>
    </tr>
  </thead>
  <tbody>
    <% @user_logins.each do |ul| %>
     <tr> 
          <td><%= ul.ip_address  %></td>
           <td><%= ul.user_agent  %></td>       
           <td><%= ul.signed_in_at  %></td>
           <td><%= ul.last_seen_at  %></td>
           <td><%= ul.signed_out_at  %></td>
     </tr>    
    <% end %>
  </tbody>
</table>
